<h1><%= @subject %></h1>

<p>
  <%= @greeting %>, 
  <div>
    thank you for taking out time to shop with us. However we regret to inform you that your payment for order # <%= @cart_id %> was not successful.
  </div>
  <div>
    Please check your card details(card number, expiry date and ccv) and try again.
  </div>
</p>
