<% if flash.present? %>
  <div id='flash'>
    <% if flash[:notice] %>
      <div class="alert alert-success"><%= notice %></div>
    <% elsif flash[:alert] %>
      <div class="alert alert-warning"><%= alert %></div>
    <% elsif flash[:error] %>
      <div class="alert alert-danger"><%= flash[:error] %></div>
    <% end %>
  </div>
<% end %>
