<div class="text-center"><h1>Products</h1></div>

<div class="row">
  <% @categories.each do |category| %>
    <%= render partial: "shared/product_details", locals:{category: category} %>
  <% end %>
</div>
<hr/>
<p>
  <%= link_to 'New Product', new_product_path, class: "btn btn-primary" %>
</p>
